* {
    margin: 0;
    padding: 0;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: calc(64px * 8); /* Ширина доски */
    height: calc(64px * 8); /* Высота доски */
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img {
    width: 48px;
    height: 48px;
    position: relative;
}

.black {
    background-color: #6c6c6c;
}
.white{
    background-color: #ded4c2;
}

.selected {
    background-color: sandybrown;
}

.available {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: orange;
}
